.txt-hist {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 40px;
    margin-bottom: 80px;
    font-size: 1rem;
    font-weight: bold;
    line-height: 2rem;
    
}

.row {
    margin-top: 40px;
}

.txt-historia {
    margin-top: 60px;
}