.des-txt {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card {
    padding: 0;
    height: 100px;
}

.card-body {
    height: auto;
}

.card-img-top{
    margin-top: 10px;
    align-self: center;
    width: 50%;
    height: auto;
    max-height: 250px;
}

.row {
    margin-top: 20px!important;
    --bs-gutter-x: 0!important;
}